<!DOCTYPE html>
<html>
<head>
  <title>Identity spoke</title>
  <%= stylesheet_link_tag    "identity_spoke/application", media: "all" %>
  <%= javascript_include_tag "identity_spoke/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
